<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\Rob\Documents\Personal Projects\RandomMovieGen-GUI\out\artifacts\RandomMovieGen_GUI_jar\RandomMovieGen-GUI.jar</jar>
  <outfile>C:\Users\Rob\Documents\Personal Projects\RandomMovieGen-GUI\RMG.exe</outfile>
  <errTitle>Error: Please install Java to use program</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <singleInstance>
    <mutexName>RMG</mutexName>
    <windowTitle>RMG</windowTitle>
  </singleInstance>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>15.0.1</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
</launch4jConfig>